body {
    background-image: url(MainBackgroundImg.jpg);
    background-size: 1024px 700px;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}

nav {
    display: flex;
    grid-column: 2/3;
    align-items: center;
    padding-top: 30px;
    grid-gap: 5px;
}

.homeBtn, .reserve,
.contactBtn, .menuBtn {
    color: white;
    border: none;
    background-color: transparent;
    font-size: x-large;
    font-weight: 700;
    margin-left: 40px;
    padding: 5px;
}

.logo {
    display: flex;
    color:  white;
    align-items: center;
    grid-column: 1/2;
    justify-content: center;
    grid-row: 1/2;
    font-style: italic;
    font-size: 55px;
    font-weight: 600;
}

.reserve {
    font-size: 30px;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: 20px;
    border: 1px solid white;
    padding: 5px;
}

.homeBtn:hover, .contactBtn:hover,
.menuBtn:hover {
    border: 1px solid white;
}

.reserve:hover{
    background-color: rgb(165, 164, 164);
}