body {
    background-image: url(MainBackgroundImg.jpg);
    background-size: 1024px 700px;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    border: 2px solid green;
}

nav {
    display: flex;
    grid-column: 2/3;
    align-items: center;
}

button {
    color: white;
    border: none;
    background-color: transparent;
    font-size: larger;
    font-weight: 700;
    margin-left: 40px;
}

.logo {
    display: flex;
    color: white;
    align-items: center;
    grid-column: 1/2;
    margin-left: 50px;
    grid-row: 1/2;
    font-style: italic;
    font-size: 40px;
    font-weight: 600;
}