body{
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #09090b;
    border-bottom: 1px solid rgb(94, 93, 93);
}

nav {
    display: flex;
    grid-column: 2/3;
    align-items: center;
    padding-top: 30px;
}

.homeBtn, .reserve,
.contactBtn, .menuBtn {
    color: white;
    border: none;
    background-color: transparent;
    font-size: large;
    font-weight: 700;
    margin-left: 40px;
    padding: 5px;
}

.logo {
    display: flex;
    color:  white;
    align-items: center;
    grid-column: 1/2;
    padding-left: 63px;
    grid-row: 1/2;
    font-style: italic;
    font-size: 45px;
    font-weight: 600;
}

.reserve {
    display: flex;
    height: 30px;
    width: 120px;
    align-items: center;
    font-size: larger;
    font-weight: 400;
    margin-right: 64px;
    margin-bottom: 20px;
    border: 1px solid white;
    padding: 5px;
}

.homeBtn:hover, .contactBtn:hover,
.menuBtn:hover {
    color: rgb(255,191,0);
}

.reserve:hover{
    border: 1px double rgb(255,191,0);
    color: rgb(255,191,0);
}

.subContainer {
    display: flex;
    color: white;
    justify-content: center;
    height: 86vh;
    background-image: url(mainBackgroundImg.jpg);
    background-size: 1024px 700px;
    background-repeat: no-repeat;
    margin: 0;

}

.headline {
    font-size: 46px;
    display: flex;
    height: 50px;
    margin-top: 120px;
    font-weight: bolder;
}

.headlineContainer {
    display: flex;
    width: 500px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.extraHeadline {
    font-size: 30px;
    height: 70px;
    font-weight: 600;
}

.orderBtn {
    width: 100px;
    height: 30px;
    color: white;
    font-weight: 700;
    background-color: black;
    border: 1px solid white;
}



/* styles for menu page are done here...*/

.subContainerMenu {
    display: flex;
    justify-content: center;
    height: 86vh;
    background-color: #18181b;
}

.menuContainer {
    display: grid;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
    grid-auto-flow: column;
    width: 900px;
    background-color: black;
    gap: 20px;
    overflow: scroll;
}

.steak {
    display: flex;
    background-image: url(stakePic.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
}

.menuItem {
    width: 230px;
    background-color: white;
}
